
    <%# Sidebar navigation %>
    <div class="nav">
        <div class="image">
            <a href="/views/index.ejs">
                <img class="logo" src="/assets/logo-white.png" alt="logo">
            </a>
        </div>
        <div class="links-box">
            <a href="/monthly">Monthly Overview</a>
            <a href="/transactions">Transactions</a>
            <a href="budget">Budget</a>
        </div>
    </div>
