<%- include ("partials/header.ejs") %>
<body>
    <%# Sidebar navigation %>
    <div class="nav">
        <div class="image">
            <a href="/views/index.ejs">
                <img class="logo" src="/assets/logo-white.png" alt="logo">
            </a>
        </div>
        <div class="links-box">
            <a href="#">Monthly Overview</a>
            <a href="#">Transactions</a>
            <a href="#">Budget</a>
        </div>
    </div>
</body>
</html>