    <%# Sidebar navigation %>
    <div class="nav">
        <div class="image">
            <a class="logoA" href="/budget">
                <img class="logo" src="/assets/logo-white.png" alt="logo">
            </a>
        </div>
        <div class="links-box">
            <!-- <a href="/monthly">Monthly Overview</a> -->
            <a href="/budget">Budget</a>
            <a class="subSidebarTitle" href="/budget/add">Add Budget / Create Category</a>
            <a href="/transactions">Transactions</a>
            <a  href="/savings">Savings</a>
        </div>
    </div>

    <%# Script to highlight active link %>
    <script>
        let current = 0;
        for (var i = 0; i < document.links.length; i++) {
            if (document.links[i].href == document.URL) {
                current = i;
            }
        }
        if (document.URL == "http://localhost:3000/transactions/categories"){
                current = 3;
            }
        if (document.URL == "http://localhost:3000/budget/choices") {
            current = 1;
        }
        if (document.URL.includes("http://localhost:3000/transactions/edit") || document.URL.includes("http://localhost:3000/transactions/add")) {
            current = 3;
        }
        if (document.URL.includes("http://localhost:3000/savings/add")) {
            current = 4;
        }
        document.links[current].className = 'current';
    </script>