<%- include ("partials/header.ejs") %>
<body>
  <%- include ("partials/sidebar.ejs") %>
  <div class="addBudgetPage">
    <h1>Add / Create a New Budget Or Category</h1>

    <%# Form to add/create budget %>
    <form action="budget/add" method="POST">
      <%# Expected %>
        <div class="expectedInput">
            <label for="expectedInput">Expected</label>
            <input type="text" name="expectedInput" id="expected">
        </div>
    </form>
  </div>
</body>
</html>