<%- include ("partials/header.ejs") %>
<body>
  <%- include ("partials/sidebar.ejs") %>
  <div class="addBudgetPage">
    <h1>Add A New Category</h1>

    <%# Form to add/create budget %>
    <form action="/budget/add" method="POST">
      <h2 class="headers" id="expense">
        <div class="tooltip" id="expected">Expense Category
          <span class="tooltiptext">make the category to an expense</span>
        </div>
      </h2>
      <h2 class="headers" id="income">
        <div class="tooltip" id="expected">Income Category
          <span class="tooltiptext">make the category to an income</span>
        </div>
      </h2>
      <%# Toggle switch %> 
      <div class="switchBox">
        <label class="switch">
          <input type="checkbox" onclick="sliderToggle()" id="checkBoxSlider" name="income">
          <span class="slider round"></span>
        </label>
      </div>
      <%# Categories %>
      <div class="categoriesCheckbox">
          <label for="categoriesCheckbox">
            <div class="tooltip" id="expected">Category
              <span class="tooltiptext">name of the new category</span>
            </div>
          </label>
          <input class="basicInput" type="text" name="category" id="category" maxlength="20" required>
      </div>
      <%# Expected %>
      <div class="expectedInput">
          <label for="expectedInput">
            <div class="tooltip" id="expected">Expected
              <span class="tooltiptext">amount of the expected spentage</span>
            </div>
          </label>
          <input class="basicInput" type="number" name="expected" id="expected" required>
      </div>
      <%# Colour %>
      <div>
        <label for="colourInput">
          <div class="tooltip" id="expected">Colour
            <span class="tooltiptext">select the colour of the new category</span>
          </div>
        </label>
        <input class="colourInput" type="color" name="colourInput" id="colourInput" required>
      </div>
      <input type="text" id="toggleValue" name="toggleValue" value="false" style="display: none;">

      <button class="submitBudget" type="submit">Submit</button>
    </form>
  </div>

  <script>
    let toggle = false;
    document.getElementById("expense").style.display = "block";
    document.getElementById("income").style.display = "none";
    
    let tempIncomeValue = document.getElementById("incomeTemp").value;

  function sliderToggle() {

    toggle = !toggle;
    
    if (!toggle) {
      document.getElementById("toggleValue").value = "false";
      document.getElementById("expense").style.display = "block";
      document.getElementById("income").style.display = "none";
      
    } else {
      
      document.getElementById("toggleValue").value = "true";
      document.getElementById("expense").style.display = "none";
      document.getElementById("income").style.display = "block";

    }
    console.log(tempIncomeValue);
    console.log(toggle);

} 
  </script>

</body>
</html>