<%- include ("partials/header.ejs") %>

<h1>Budget</h1>

<button>Add To Budget</button>

<body>
  <table class="table-budget">
    <tr>
      <th>CATEGORY</th>
      <th>EXPECTED</th>
      <th>SPENT</th>
      <th>REMAINING</th>
    </tr>
    <tr>
      <th>FOOD:</th>
      <th>Test</th>
      <th>Test</th>
      <th>Test</th>
    </tr>
    <tr>
      <th>RENT:</th>
      <th>Test</th>
      <th>Test</th>
      <th>Test</th>
    </tr>
    <tr>
      <th>FUN MONEY:</th>
      <th>Test</th>
      <th>Test</th>
      <th>Test</th>
    </tr>
  </table>
  
</body>