<%- include ("partials/header_homepage.ejs") %>
  <body>
    <div class="centerContainer">
      <img class="logo" src="/assets/logo.png" alt="logo">
      
      <h1>WELCOME</h1>
      
      
      <form class="login-form" id="username" method="POST" action="/">
        <label for="login">Username</label>
        <input required type="text" id="login" name="login" placeholder="Enter username">
      </form>
      
      <br>

      <button class="button" id="create" onclick="show(1)">Sign up</button>

      <br><br>

      <form class="login-form" id="create-username" method="POST" action="/">
        <label for="newuser">Create New</label>
        <input required type="text" id="newuser" name="newuser" placeholder="Create a username">
      </form>
    </div>
    
    

    <script src="scripts/homepage.js"></script>

  </body>
</html>