<%- include ("partials/header.ejs") %>
<body>
  <div class="centerContainer">
  <img class="logo" src="/assets/logo.png" alt="logo">
  
  <h1>WELCOME</h1>

  <form action="POST">
    <label for="LogIn">USERNAME</label>
    <input type="text" id="LogIn" name="login" placeholder="Enter username">
    <button type="submit" value="Submit">ENTER</button>
  </form>
  
</div>
    <script src="/scripts/script.js"></script>
</body>
</html>