<%- include ("partials/header_homepage.ejs") %>
  <body>
    <div class="centerContainer">
      <img class="logo" src="/assets/logo.png" alt="logo">
      
      <h1>WELCOME</h1>
      
      <button class="button" id="loginBut" onclick="show(2)">Sign in</button>
      <button class="button" id="createBut" onclick="show(1)">Sign up</button>

      <br>
      <form class="login-form" id="username" method="POST" action="/">
        <label for="login">Username: </label>
        <input required type="text" id="login" name="login" placeholder="Enter username">
        <button class="submitBut" type="submit">Enter</button>
      </form>

      <form class="login-form" id="create-username" method="POST" action="/">
        <label for="newuser">Create New: </label>
        <input required type="text" id="newuser" name="newuser" placeholder="Create a username">
        <button class="submitBut" type="submit">Enter</button>
      </form>
    </div>
    
    

    <script src="scripts/homepage.js"></script>

  </body>
</html>