<%- include ("partials/header.ejs") %>
<body>
  <h1>WELCOME</h1>

  <form action="POST">
    <label for="LogIn">USERNAME</label>
    <input type="text" id="LogIn" name="login">
    <button type="submit" value="Submit">ENTER</button>
  </form>
  

    <script src="/scripts/script.js"></script>
</body>
</html>