/* setting the margin for the page */
.budgetPage {
    margin-left: 14%;
    margin-right: 10%; 
}
/* the font for the page */
.budgetPage p,
h1 {
  font-family: bebas;
}
.budgetPage h1 {
  font-size: 3vw;
}

/* position the button */
.addBudget {
  display: block;
  margin-left: 10%;
}

/* design the add budget button */
.addBudgetBut {
  font-size: 1.2vw;
  font-family: bebas;
  color: green;
  background-color: transparent;
  border: solid 1px;
  border-color: green;
  padding: 1.25%;
}
.addBudgetBut:active {
    background-color: rgb(240, 240, 240);
    border: solid 1px green;
    color: green;
}
.addBudgetBut:hover {
    background-color: green;
    color: white; 
}

/* position total spent and remaining */
.totalAmountBox p {
    display: inline-block;
    font-size: 1.2vw;
}
.totalAmountBox {
    margin: 2.5% 0% 2.5% 10%
}
.totalRemainingBox {
    display: inline;
    margin-left: 2.5%;
}
.totalSpentBox {
    display: inline;
    margin-left: 5%;
}

/* turns red if totalRemaining under 0 */
#remainingRed {
    color: red;
}
#remainingGreen {
    color: green;
}

/* the design of the small headers */
.budgetLabels {
    font-size: 1.5vw;
}

/* setting the distance between small headers */
.category {
    text-align: end;
    display: inline-block;
    margin-left: 15.25%;
}    
.expected {
    text-align: end;
    display: inline-block;
    margin-left: 16%;
}  
.spent {
    text-align: end;
    display: inline-block;
    margin-left: 16%;
}
.remaining {
    text-align: end;
    display: inline-block;
    margin-left: 15.75%;
}

/* making the table */
.budgetTable {
    width: 100%;
    margin: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.budgetInsideTable {
    margin: 0px;
    padding: 1%;
    width: 80%;
    display: inline-block;
    border: solid 1px;
}

/* setting the titles inside of the table */
.budgetCategory {
    display: inline-block;
    position: relative;
    left: 5.5%;
    min-width: 20%;
    font-size: 1.8vw;
    text-align: start;
}
.budgetExpected {
    display: inline-block;
    position: relative;
    left: 13%;
    min-width: 20%;
    font-size: 1.8vw;
    text-align: start;
}
.budgetSpent {
    display: inline-block;
    position: relative;
    left: 20.75%;
    min-width: 20%;
    font-size: 1.8vw;
    text-align: start;
    color: red;
}
.budgetRemaining {
    display: inline-block;
    position: relative;
    left: 26%;
    min-width: 20%;
    font-size: 1.8vw;
    text-align: start;
    color: green;
}

/* makes the color of the remaining inside of table green */
#remainingTableGreen {
    color: green;
}
#remainingTableRed {
    color: red;
}

/* postion edit expected box */
.editBudgetBox {
    display: inline;
}

/* design edit button */
.editBudget {
    font-family: bebas;
    font-size: 1vw;
    margin: 0.5%;
    justify-content: center;
    width: 10%;
    padding: 1.25%;
    background-color: transparent;
    border: solid 1px green;
    color: green;
    transition: 150ms;
}
.editBudget:active {
    background-color: rgb(240, 240, 240);
    border: solid 1px green;
    color: green;
}
.editBudget:hover {
    background-color: green;
    color: white;
}