/* set background for body */
body {
  background-color: rgb(255, 255, 255);
  margin: 0px;
}

/* defines font */
@font-face {
  font-family: bebas;
  src: url(/assets/BebasNeue-Regular.ttf);
}

/* center the elements */
.centerContainer {
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* sizes the logo */
.logo {
  max-width: 25%;
  transition: 250ms;
  margin-bottom: -5%;
}

/* makes the logo jump */
.logo:hover {
  transform: translateY(-5%);
}
.logo:active {
  transform: rotateX(180deg);
}

/* font on all h1 */
h1 {
  font-size: 3vw;
  font-family: bebas;
}

/* button design */
.button {
  background-color: transparent;
  border: 1.5px solid green;
  border-radius: 2px;

  color: green;
  display: inline-block;
  font-size: 1.15vw;
  font-weight: 400;

  text-align: center;
  padding: 10px;
  width: 10%;

  /* setting the space between the buttons */
  margin-left: 0.5%;
  margin-right: 0.5%;

  transition: 250ms ease-in-out;
}

.button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button:hover {
  background-color: green;
  color: white;
}

.button:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

.button:active {
  background-color: #206d36;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

/* design input fields */
input {
  box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 8px;
  border-radius: 5px;
  background: linear-gradient(
    180deg,
    rgba(196, 196, 196, 0.2) 0%,
    rgba(196, 196, 196, 0.09375) 53.12%,
    rgba(196, 196, 196, 0) 100%
  );
  padding: 10px;

  /* hidden border on field */
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

/* hidding the outline when writing in input field */
input:focus {
  outline: none;
}

::placeholder {
  color: black;
}

.login-form {
  justify-content: start;
  display: inline-block;
  max-width: 15%;
  transform: 250ms;
}

.login-form input {
  display: flex;
  margin-top: 5px;
  margin-bottom: 20px;
}
.login-form button {
  display: flex;
}
.login-form label {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  text-align: start;
  justify-content: start;
}

/* label design */
label {
  font-weight: 500;
  font-family: bebas;
}

/* submit button */
.submitBut {
  margin: 0% auto;
  min-width: 90%;
  background-color: green;
  border: 1.5px solid green;
  border-radius: 2px;

  color: white;
  display: inline-block;
  font-size: 12px;
  font-weight: 400;

  text-align: center;

  padding: 10px;

  transition: 250ms ease-in-out;
}

.submitBut:hover {
  background-color: rgb(0, 177, 0);
  color: white;
}
