/* set background for body */
body {
  background-color: rgb(255, 255, 255);
  margin: 0px;
}

/* defines font */
@font-face {
  font-family: bebas;
  src: url(/assets/BebasNeue-Regular.ttf);
}

/* center the elements */
.centerContainer {
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* sizes the logo */
.logo {
  max-width: 200px;
}

/* button design */
.button {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 10px;
  font-weight: 600;
  line-height: 17.5px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button:hover {
  background-color: #2c974b;
}

.button:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

/* design input fields */
input { 
  -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
  border-radius: 5px;
  background: linear-gradient(180deg, rgba(196, 196, 196, 0.2) 0%, rgba(196, 196, 196, 0.09375) 53.12%, rgba(196, 196, 196, 0) 100%);
}
