/*Monthly page formatting*/
.monthlyPage{
    margin-left: 14%;
    margin-right: 2%; 
}

/* the font for the page */
.monthlyPage p,
h1, select {
  font-family: bebas;
}
.monthlyPage h1 {
  font-size: 3vw;
}

/* position dropdowns */
.chooseStuffMonthly {
    display: block;
    margin-left: 10%;
    margin-right: 2%;
}

/* makes dropdown in line */
.chooseCategoryMonthly {
    font-size: 1.5vw;
    float: left;
}
.chooseGraph {
    font-size: 1.5vw;
    float: right;
    margin-right: 7.5%;
}

/* hidding the outline of dropdown when selecting */
#categoriesMonthly:focus {
    outline: none;
}
#graphs:focus {
    outline: none;
}

/* design dropdown and label */ 
.monthlyPage label {
    font-family: bebas; 
}
.monthlyPage select {
    font-size: 1.2vw;
    font-family: bebas;
    color: black;
    background-color: transparent;
    border: solid 1px;
    border-color: black;
    padding: 3%;
}
