/*Monthly page formatting*/
.monthlyPage{
    margin-left: 7%;
    margin-bottom: 1%;
}

/* the font for the page */
.monthlyPage p,
h1, select {
  font-family: bebas;
}
.monthlyPage h1 {
  font-size: 3vw;
}

/* makes dropdown in line */
.chooseGraph {
    display: block;
    font-size: 1.5vw;
    margin-left: 14%;
}

/* hidding the outline of dropdown when selecting */
#categoriesMonthly:focus {
    outline: none;
}
#graphs:focus {
    outline: none;
}

/* design dropdown and label */ 
.monthlyPage label {
    font-family: bebas; 
}
.monthlyPage select {
    font-size: 1.2vw;
    font-family: bebas;
    color: black;
    background-color: transparent;
    border-color: black;
    padding: 0.5%;
}

/*Graph menu positioning*/
.chart_edit{
    display: block;
    max-width: 60%;
    margin-left: 20%;
    margin-bottom: 11.1%;
}

/* position the label inside piechart */
.labelInsidePieChart {
    font-size: 1.2vw;
    font-family: bebas;
    text-align: center;
    z-index: 1;
    margin-top: -21%;
}

.labelInsidePieChart p {
    margin-top: -2.5%;
}

.labelInsidePieChartIncome {
    font-size: 1.2vw;
    font-family: bebas;
    text-align: center;
    z-index: 1;
    margin-top: -21%;
}

.labelInsidePieChartIncome p {
    margin-top: -2.5%;
}

@media screen and (max-width: 1100px) {
    .labelInsidePieChart {
        margin-top: -17.5%;
        font-size: 1vw;
    }
}

@media screen and (max-width: 900px) {
    .labelInsidePieChart {
        margin-top: -15.5%;
        font-size: 0.9vw;
    }
}
@media screen and (max-width: 1100px) {
    .labelInsidePieChartIncome {
        margin-top: -17.5%;
        font-size: 1vw;
    }
}

@media screen and (max-width: 900px) {
    .labelInsidePieChartIncome {
        margin-top: -15.5%;
        font-size: 0.9vw;
    }
}
    