/*This is for the transaction page*/
.transactionPage {
  margin-left: 14%;
}

/* font formatting */
.transactionPage h1 {
  font-family: bebas;
  font-size: 4vw;
}
.transactionPage h2 {
  font-family: bebas;
  font-size: 1.8vw;
}
.transactionPage h3 {
  font-family: bebas;
  font-size: 1.5vw;
}
.transactionPage h4 {
  font-family: bebas;
  font-size: 1vw;
}

/* beautifying the interactive elements*/
.chooseStuff {
  display: block;
}
/* inline-block makes stuff appear on the same line */
.chooseCategory {
  display: inline-block;
}
.chooseTime {
  display: inline-block;
}
/* flex makes stuff appear above eachother within the div */
.chooseTime label,
input {
  display: flex;
}
