/*This is for the transaction page*/
.transactionPage {
  margin-left: 14%;
  margin-right: 14%;
}

.transactionPage h1 {
  margin-left: 19%;
}

.transactionPage a {
  text-decoration: none;
}

/* beautifying the interactive elements*/
.chooseStuff {
  display: block;
  margin-left: 20%;
}

/* inline-block makes stuff appear on the same line */
.chooseCategory {
  font-size: 1.5vw;
  display: inline-block;
  width: 15%;
}

.chooseTime {
  font-size: 1.5vw;
  display: inline-block;
  width: 35%;
  margin-right: 0px;
  margin-left: 5%;
}
.transactionPage input {
  font-size: 1.2vw;
  font-family: bebas;
  color: black;
  background-color: transparent;
  border: solid 1px;
  padding: 1.6%;
  width: 45%;
  display: inline-block;
}
.transactionPage,
.transactionPageAdd label {
  font-family: bebas;
}
.transactionPage select {
  font-size: 1.2vw;
  font-family: bebas;
  color: black;
  background-color: transparent;
  border: solid 1px;
  border-color: black;
  padding: 3%;
  display: inline-block;
}
.selectCategory{
  width: 100%;
}


/* flex makes stuff appear above eachother within the div */
.chooseTime label,
input {
  display: flex;
}

.transactionPage .addIncomeBut {
  display: inline-block;
  font-size: 1.2vw;
  font-family: bebas;
  color: green;
  background-color: transparent;
  border: solid 1px;
  border-color: green;
  padding: 1.25%;
  transition: 200ms;
  cursor: pointer;
  width: 15%;
}

/* margins for transaction button, must be used because of button inside anchor */
.transactionPage .addTransButAnchor {
  margin-left: 2.75%;
}

.transactionPage .addIncomeBut:hover {
  background-color: green;
  color: white;
}
.transactionPage .addIncomeBut:active {
  background-color: rgb(0, 71, 0);
  color: white;
}

.transactionPage .addExpenseBut {
  display: inline-block;
  font-size: 1.2vw;
  font-family: bebas;
  color: red;
  background-color: transparent;
  border: solid 1px;
  border-color: red;
  padding: 1.25%;
  transition: 200ms;
  cursor: pointer;
  width: 15%;
}

.transactionPage .addExpenseBut:hover {
  background-color: red;
  color: white;
}
.transactionPage .addExpenseBut:active {
  background-color: rgb(71, 0, 0);
  color: white;
}

/* font formatting */
.transactionPage,
.transactionPageAdd p,
h1 {
  font-family: bebas;
}
.transactionPage,
h1 {
  font-size: 3vw;
}

/*modding each tile*/
.transactionTileOuter {
  display: flex;
  width: 80%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 1%;
}
.transactionTile {
  padding-left: 2%;
  width: 80%;
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  border: solid 1px;
}
.tileTitles {
  display: inline-block;
}
.tileMain {
  font-size: 1.4vw;
  margin: 0px;
  display: flex;
}
.tileSub {
  color: rgb(61, 61, 61);
  font-size: 1.2vw;
  margin: 0px;
  display: flex;
}
.priceNeg {
  display: inline-block;
  position: relative;
  left: 26%;
  min-width: 20%;
  font-size: 1.4vw;
  text-align: start;
  color: red;
}
.pricePos {
  display: inline-block;
  position: relative;
  left: 26%;
  min-width: 20%;
  font-size: 1.4vw;
  text-align: start;
  color: green;
}
.date {
  display: flex;
  font-size: 1vw;
  margin: 0%;
}

/*the stuff just above the tiles*/
.tileLabels {
  font-size: 1.5vw;
  margin-left: 20%;
}

.tileLabels #type {
  margin-left: 5%;
  margin-top: 2.5%;
  margin-bottom: 1%;
  display: inline-block;
}

.tileLabels #tprice {
  text-align: end;
  margin-left: 31%;
  display: inline-block;
}

/* position of the edit and delete buttons and font of the button */
.tileButtons {
  display: inline-block;
  margin-left: 1%;
}
.tileButtons button {
  font-family: bebas;
}

/*buttons to the right of the tiles*/
.delete {
  background-color: transparent;
  justify-content: center;
  width: 120%;
  padding: 5%;
  border: solid 1px red;
  color: red;
  transition: 150ms;
  font-size: 1.2vw;
  display: flex;
  cursor: pointer;
}
.delete:hover {
  background-color: red;
  color: white;
}
.delete:active {
  background-color: rgb(180, 0, 0);
  color: white;
}
.edit {
  margin-bottom: 32%;
  display: flex;
  justify-content: center;
  width: 120%;
  padding: 5%;
  background-color: transparent;
  border: solid 1px green;
  color: green;
  transition: 150ms;
  font-size: 1.2vw;
  cursor: pointer;
}
.edit:hover {
  background-color: green;
  color: white;
}
.edit:active {
  background-color: rgb(0, 71, 0);
  color: white;
}

/* For adding transaction page */
/* Design sumbit button */
.transactionPageAdd .submit {
  display: inline-block;
  font-size: 1.2vw;
  font-family: bebas;
  color: green;
  background-color: transparent;
  border: solid 1px;
  border-color: green;
  padding: 1.25%;
  transition: 200ms;
  cursor: pointer;
}

.transactionPageAdd .submit:hover {
  background-color: green;
  color: white;
}
.transactionPageAdd .submit:active {
  background-color: rgb(0, 71, 0);
  color: white;
}

.transactionPageAdd form .labelBig {
  font-size: 1.5vw;
}

.transactionPageAdd form input {
  margin-bottom: 2%;
}
.transactionPageAdd p {
  font-size: 1.8vw;
  margin-top: 2%;
}

.catCheckbox {
  margin-right: 2%;
  margin-bottom: 2%;
  display: inline-block;
}
.catCheckbox input,
label {
  display: flex;
}

.transactionPageAdd {
  margin-left: 14%;
  margin-right: 10%;
}

.transactionPageAdd h1 {
  margin-left: 26%;
}

.transactionPageAdd input {
  font-size: 1.2vw;
  font-family: bebas;
  color: black;
  background-color: transparent;
  border: solid 1px;
  padding: 1.2%;
  width: 45%;
  display: inline-block;
}

.transactionPageAdd form {
  text-align: center;
}
.transactionPageAdd .labelBig {
  margin-left: 26.5%;
}

.transactionPageAdd .catCheckBoxOuter { 
  width: 43.5%;
  margin-left: auto;
  margin-right: auto;
  text-align: start;
  border: 1px solid;
  padding: 2%;
  margin-bottom: 2.5%;
}
.transactionPageAdd .catCheckBoxOuter label {
  margin-left: 1%;
  margin-right: 1%;
  font-size: 1.1vw;
}
.transactionPageAdd .catCheckbox input {
  width: 100%;
  height: 0.8vw;
  cursor: pointer;

}

.noTrans {
  margin-top: 10%;
  margin-left: 2%;
  font-size: 1.8vw;
}

.subTitle{
  font-size: 1.2vw;
  font-family: bebas;
  text-align: start;
  margin-left: 5%;
  
}
.catGrid{
  margin: 0% auto;
  display: grid;
  gap: 10%;
  grid-template-columns: 45% 45%;
  width: 48%;
  margin-bottom: 1%;
}

/* for trans update page */

.TUpdateCatGrid{
  margin: 0% auto;
  margin-left: 26.2%;
  width: 49%;
  display: grid;
  gap: 2%;
  grid-template-columns: 31% 31% 31%;
  
}

.TUpdateCheckBoxParent{
  border: 1px solid;
  border-bottom: 0px;
}



.transactionPageUpdate .submit {
  display: inline-block;
  font-size: 1.2vw;
  font-family: bebas;
  color: green;
  background-color: transparent;
  border: 1px solid;
  border-color: green;
  padding: 1.25%;
  transition: 200ms;
  cursor: pointer;
}

.transactionPageUpdate .submit:hover {
  background-color: green;
  color: white;
}
.transactionPageUpdate .submit:active {
  background-color: rgb(0, 71, 0);
  color: white;
}

.transactionPageUpdate .Titles {
  font-size: 1.5vw;
}

.transactionPageUpdate form input {
  margin-bottom: 2%;
}
.transactionPageUpdate p {
  font-size: 1.8vw;
  margin-top: 2%;
}

.transactionPageUpdate {
  margin-left: 14%;
  margin-right: 10%;
}

.transactionPageUpdate h1 {
  margin-left: 26%;
}

.transactionPageUpdate input {
  font-size: 1.2vw;
  font-family: bebas;
  color: black;
  background-color: transparent;
  border: solid 1px;
  padding: 1.2%;
  width: 45%;
  display: inline-block;
}

.transactionPageUpdate form {
  text-align: center;
}
.transactionPageUpdate .Titles {
  margin-left: 26.5%;
}


.TUpdateCheckBox{
  padding-left: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-bottom : 1px solid;
  width: 95.5%;
  display: inline-flex;
  text-align: start;
}

.TUpdateCatLabel {
  width: 90%;
  font-size: 1vw;
  text-align: start;
  overflow-x: scroll;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.TUpdateCatLabel::-webkit-scrollbar {
  display: none;
}

.transactionPageUpdate h5{
  font-family: bebas;
  margin-top: 4%;
  margin-bottom: 2%;
  font-size: 1.1vw;
}

/* for trans add (expense) page */

.TAddExpenseCatGrid{
  margin: 0% auto;
  margin-left: 26.2%;
  width: 49%;
  display: grid;
  gap: 2%;
  grid-template-columns: 49% 49%;
  margin-bottom: 2%;
  
}

.TAddExpenseCheckBoxParent{
  border: 1px solid;
  border-bottom: 0px;
}

.TAddExpenseCheckBox{
  padding-left: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-bottom : 1px solid;
  width: 95.2%;
  display: inline-flex;
  text-align: start;
}

.TAddExpenseCatLabel {
  width: 90%;
  font-size: 1vw;
  text-align: start;
  overflow-x: scroll;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.TAddExpenseCatLabel::-webkit-scrollbar {
  display: none;
}
.transactionPageAdd .radioLabelExpense{
  font-family: bebas;
  margin-top: 4%;
  margin-bottom: 2%;
  font-size: 1.1vw;
}


/* for trans add (income) page */


.TAddIncomeCatGrid{
  margin: 0% auto;
  margin-left: 26.2%;
  width: 49%;
  display: grid;
  gap: 2%;
  grid-template-columns: 49% 49%;
  margin-bottom: 2%;
  
}
.transactionPageAdd .radioLabelIncome{
  font-family: bebas;
  margin-bottom: .5%;
  font-size: 1.1vw;
  margin-top: 1%;
}

.TAddIncomeCheckBoxParent{
  border: 1px solid;
  border-bottom: 0px;
}

.TAddIncomeCheckBox{
  padding-left: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-bottom : 1px solid;
  width: 95.2%;
  display: inline-flex;
  text-align: start;
}

.TAddIncomeCatLabel{
  width: 90%;
  font-size: 1vw;
  text-align: start;
  overflow-x: scroll;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.TAddIncomeCatLabel::-webkit-scrollbar {
  display: none;
}
