/*This is for the transaction page*/
.transactionPage {
  margin-left: 14%;
  margin-right: 14%;
}

/* beautifying the interactive elements*/
.chooseStuff {
  display: block;
  margin-left: 20%;
}
/* inline-block makes stuff appear on the same line */
.chooseCategory {
  font-size: 1.5vw;
  display: inline-block;
}
.chooseTime {
  font-size: 1.5vw;
  display: inline-block;
  width: 40%;
  margin-right: 0px;
}
.transactionPage input {
  font-size: 1.2vw;
  font-family: bebas;
  color: black;
  background-color: transparent;
  border: solid 1px;
  padding: 1.6%;
  width: 45%;
  display: inline-block;
}
.transactionPage label {
  font-family: bebas;
}
.transactionPage select {
  font-size: 1.2vw;
  font-family: bebas;
  color: black;
  background-color: transparent;
  border: solid 1px;
  border-color: black;
  padding: 3%;
}

/* flex makes stuff appear above eachother within the div */
.chooseTime label,
input {
  display: flex;
}
.transactionPage .addTransBut {
  margin-left: 12%;
  display: inline-block;
  font-size: 1.2vw;
  font-family: bebas;
  color: green;
  background-color: transparent;
  border: solid 1px;
  border-color: green;
  padding: 1.25%;
  transition: 200ms;
}
.transactionPage .addTransBut:hover {
  background-color: green;
  color: white;
}
.transactionPage .addTransBut:active {
  background-color: rgb(0, 71, 0);
  color: white;
}

/* font formatting */
.transactionPage p,
h1 {
  font-family: bebas;
}
.transactionPage h1 {
  font-size: 3vw;
}

/*modding each tile*/
.transactionTileOuter {
  width: 80%;
  margin: 20%;
  margin-top: 1%;
  margin-bottom: 1%;
}
.transactionTile {
  margin: 0px;
  padding: 1%;
  width: 80%;
  display: inline-block;
  border: solid 1px;
}
.tileTitles {
  display: inline-block;
  min-width: 30%;
}
.tileMain {
  font-size: 1.8vw;
  margin: 0px;
  display: flex;
}
.tileSub {
  color: rgb(61, 61, 61);
  font-size: 1.5vw;
  margin: 0px;
  display: flex;
}
.price {
  display: inline-block;
  position: relative;
  left: 18%;
  min-width: 20%;
  font-size: 1.8vw;
  text-align: start;
  color: green;
}
.date {
  display: flex;
  font-size: 1vw;
  margin: 0%;
}

.tileButtons {
  display: inline-block;
}
.tileButtons button {
  font-family: bebas;
  display: flex;
}
/*the stuff just above the tiles*/
.tileLabels {
  font-size: 1.5vw;
  margin: 2%;
  margin-left: 20%;
}

.type {
  text-align: end;
  margin-left: 2%;
  display: inline-block;
}

.tprice {
  text-align: end;
  margin-left: 35%;
  display: inline-block;
}
.editDelete {
  text-align: end;
  margin-left: 36%;
  display: inline-block;
}

/*buttons to the right of the tiles*/
.delete {
  margin: 8%;
  background-color: transparent;
  justify-content: center;
  min-width: 140%;
  padding: 15%;
  border: solid 1px red;
  color: red;
  transition: 150ms;
}
.delete:hover {
  background-color: red;
  color: white;
}
.delete:active {
  background-color: rgb(180, 0, 0);
  color: white;
}
.edit {
  margin: 8%;
  justify-content: center;
  min-width: 140%;
  padding: 15%;
  background-color: transparent;
  border: solid 1px green;
  color: green;
  transition: 150ms;
}
.edit:hover {
  background-color: green;
  color: white;
}
.edit:active {
  background-color: rgb(0, 71, 0);
  color: white;
}

/* For adding transaction page */
.transactionPage .submit {
  display: inline-block;
  font-size: 1.2vw;
  font-family: bebas;
  color: green;
  background-color: transparent;
  border: solid 1px;
  border-color: green;
  padding: 1.25%;
  transition: 200ms;
}

.transactionPage .submit:hover {
  background-color: green;
  color: white;
}
.transactionPage .submit:active {
  background-color: rgb(0, 71, 0);
  color: white;
}

.transactionPage form label {
  font-size: 1.5vw;
}

.transactionPage form input {
  margin-bottom: 2%;
}
.transactionPage p {
  font-size: 1.8vw;
  margin-top: 2%;
}

.catCheckbox {
  margin-right: 2%;
  margin-bottom: 2%;
  display: inline-block;
}
.catCheckbox input,
label {
  display: flex;
}
