body {
  background-color: rgb(255, 255, 255);
  margin: 0px;
}

@font-face {
  font-family: bebas;
  src: url(/assets/BebasNeue-Regular.ttf);
}
.topBar {
  height: 10%;
  padding-top: 5px;
  width: 100%;
  background-color: rgb(95, 150, 13);
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}
.topBarElement {
  font-family: bebas;
  color: white;
  font-size: 22;
}
.secondBar {
  padding-top: 10px;
  align-items: center;
  width: 100%;
  margin: 0px;
  background-color: rgb(255, 255, 255);
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

.secondBarElement {
  font-size: 22;
  font-family: bebas;
  text-decoration: none;
  color: black;
  text-align: center;
}
ul li a {
  font-family: bebas;
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.imgAndTextContainer {
  position: relative;
  text-align: center;
  color: white;
}
.centeredText {
  font-family: bebas;
  color: white;
  font-size: 60;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.imgBanner {
  width: 100%;
  height: 40%;
  object-fit: cover;
}
.coloredSpacer {
  margin-bottom: 10px;
  height: 3%;
  background-color: rgb(95, 150, 13);
}
h1 {
  font-size: 60px;
  text-align: center;
  display: block;
  font-family: bebas;
  color: black;
}
.centerContent {
  margin-left: 30%;
  margin-right: 30%;
}
.centerContent ul {
  list-style-type: lower-greek;
}
.contentUnderTitle li {
  margin: 20px;
  font-size: 20;
  text-decoration: black;
}
