body {
  background-color: rgb(255, 255, 255);
  margin: 0px;
}

@font-face {
  font-family: bebas;
  src: url(/assets/BebasNeue-Regular.ttf);
}
.coloredSpacer {
  margin-bottom: 10px;
  height: 3%;
  background-color: rgb(95, 150, 13);
}
h1 {
  font-size: 60px;
  text-align: center;
  display: block;
  font-family: bebas;
  color: black;
}

.centerContainer {
  text-align: center;
  margin: 0%;
}

.logo {
  margin: 0%;
  max-width: 200px;
  transition: 250ms ease-in-out;
}

.logo:hover {
  transform: translateY(-10px);
}
.logo:active {
  transform: rotateX(180deg);
}
