h1 {
  font-size: 40;
  color: white;
  text-align: center;
}
.rotating {
  margin-left: 40%;
  margin-right: 40%;
  animation: rotation 3s infinite linear;
  border-radius: 100%;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.center {
  border-radius: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h2 {
  font-size: 30;
  color: black;
  text-align: center;
}
p {
  text-align: justify;
  font-size: 24;
  color: black;
}
.head {
  padding: 50px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(109, 95, 72, 1) 56%,
    rgba(141, 124, 93, 1) 100%
  );
}
body {
  background-color: bisque;
  margin: 0px;
}
.bod {
  padding: 50px;
}
